[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/api/products/*"
  to = "/.netlify/functions/products"
  status = 200

[[redirects]]
  from = "/api/rate"
  to = "/.netlify/functions/rate"
  status = 200

[[redirects]]
  from = "/api/checkout"
  to = "/.netlify/functions/checkout"
  status = 200

[[redirects]]
  from = "/api/history"
  to = "/.netlify/functions/checkout"
  status = 200
